@model IEnumerable<WebApplication3.Models.ReportV_Result>

<h2>ReportV</h2>


<table class="table">
    <tr>
        <th>
            <h5><b>Invoice ID</b></h5>
        </th>
        <th>
            <h5><b>Invoice Date</b></h5>
        </th>
        <th>
            <h5><b>Customer First Name</b></h5>
        </th>
        <th>
            <h5><b>Customer Last Name</b></h5>
        </th>
        <th>
            <h5><b>Employee First Name</b></h5>
        </th>
        <th>
            <h5><b>Employee Last Name</b></h5>
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.InvoiceId
    </td>
    <td>
        @item.InvoiceDate
    </td>
    <td>
        @item.CustomerFirstName
    </td>
    <td>
        @item.CustomerLastName
    </td>
    <td>
        @item.EmployeeFirstName
    </td>
    <td>
        @item.EmployeeLastName
    </td>
</tr>
    }

</table>
