

<div>
    <h3>Tables of Database</h3><br />
    @Html.ActionLink("List of Albums", "Index", "Albums")<br />
    @Html.ActionLink("List of Artists", "Index", "Artists")<br />
    @Html.ActionLink("List of Customers", "Index", "Customers")<br />
    @Html.ActionLink("List of Employees", "Index", "Employees")<br />
    @Html.ActionLink("List of Genres", "Index", "Genres")<br />
    @Html.ActionLink("List of InvoiceLines", "Index", "InvoiceLines")<br />
    @Html.ActionLink("List of Invoices", "Index", "Invoices")<br />
    @Html.ActionLink("List of MediaTypes", "Index", "MediaTypes")<br />
    @Html.ActionLink("List of Playlists", "Index", "Playlists")<br />
    @Html.ActionLink("List of Tracks", "Index", "Tracks")<br />
</div>
<div>
    <h3>Reports</h3>
    @Html.ActionLink("Artists with albums in Top X for a specific period of time", "InputReportI", "Artists")<br />
    @Html.ActionLink("Top 10 tracks for a specific period of time", "InputReportII", "Tracks")<br />
    @Html.ActionLink("Top X Genres over time", "InputReportIII", "Genres")<br />
    @Html.ActionLink("Contact Info for Cusmtomers who made orders in a specific period of time", "InputReportIV", "Customers")<br />
    @Html.ActionLink("Invoice Infos Between a specified Customer and Employee", "InputReportV", "Customers")<br />
    @Html.ActionLink("Track Sales for each quarter of a specific year", "InputReportVI", "Tracks")<br />
</div>